# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Editor-specific
.vscode/
.idea/

# macOS files
.DS_Store

# System files
Thumbs.db

# Logs or temporary files
*.log
*.tmp

